/FreelanceProject/.vs/FreelanceProject/v16
/FreelanceProject/Api/bin/Debug/netcoreapp3.1
/FreelanceProject/Api/obj
/FreelanceProject/Core/bin/Debug/netcoreapp3.1
/FreelanceProject/Core/obj
/FreelanceProject/Repository/bin/Debug/netcoreapp3.1
/FreelanceProject/Repository/obj
/FreelanceProject/Services/bin/Debug/netcoreapp3.1
/FreelanceProject/Services/obj
/FreelanceProject/Api/Api.csproj.user
/FreelanceProject/.vs
